    {{ partial "header.html" .}}

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-5 my-auto">
            <div class="header-content mx-auto">
              <h1>Worry less,<br>write more.</h1>
              <h2 class="mb-5">Gingko lets you untangle your thoughts as you write them.</h2>
              <a href="https://app.gingkowriter.com/signup" class="btn btn-outline btn-xl js-scroll-trigger">Start Writing</a>
            </div>
          </div>
          <div class="col-lg-7 my-auto">
            <div>
              <div class="device-mockup portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <a href="img/screenshot-alien-screenplay.png" data-toggle="lightbox" data-gallery="screenshots" data-title="Screenplay of 'Alien'.">
                      <img src="img/screenshot-alien-screenplay.png" class="img-fluid" alt="">
                    </a>
                    <div data-toggle="lightbox" data-gallery="screenshots" data-remote="img/screenshot-template-academic.png" data-title="Academic paper template."></div>
                    <div data-toggle="lightbox" data-gallery="screenshots" data-remote="img/screenshot-press-release-drag-and-drop.png" data-title="Rearrange paragraphs, sections, and chapters easily."></div>
                    <div data-toggle="lightbox" data-gallery="screenshots" data-remote="img/screenshot-card-editing.png" data-title="Write with Markdown and keyboard shortcuts, so you don't need to break your flow by reaching for the mouse."></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="testimonials text-center bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <p class="font-weight-light">"<strong>My default place to write</strong>: dump ideas, move to structure, flesh em out, rearrange, edit, export."</p>
              <h5>Osbert Lancaster</h5>
              <h6 class="mb-3">Sustainability events facilitator,<br>Director of Natural Change.</h6>
              <img class="img-fluid rounded-circle" style="width:100px;" src="img/osbertlancaster.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <p class="font-weight-light" style="font-size: 150%">"I can recommend gingko — very cool web tool for structuring prose. <strong>Got me through</strong> the third act of the last novel..."</p>
              <h5>Michael Marshall Smith</h5>
              <h6 class="mb-3"><strong>New York Times best-selling author</strong></h6>
              <img class="img-fluid rounded-circle" src="img/michaelmarshallsmith.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <p class="font-weight-light">"It took away so much of my writing anxiety that it <strong>got me through from undergrad to a Ph.D.</strong> now."</p>
              <h5>Kristi K.</h5>
              <h6 class="mb-3">Ph.D. Candidate in Film Studies</h6>
              <img class="img-fluid rounded-circle" style="width: 100px;" src="img/kristik.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="comparison text-center" id="comparison">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h3>Gingko 2 Migration is still in progress.</h3>
            <hr>
            <br>
            <h4>Version Comparisons</h4>
            <table class="table table-comparison table-hover table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Gingko&nbsp;1&nbsp;Web&nbsp;App<br>(stable)</th>
                  <th>Gingko&nbsp;2&nbsp;Desktop<br>(beta)</th>
                  <th>Gingko&nbsp;2&nbsp;Web&nbsp;App<br>(beta)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Work offline</td>
                  <td><span class="compare-x">×</span></td>
                  <td><span class="compare-y">✓</span></td>
                  <td><span class="compare-x">×</span></td>
                </tr>
                <tr>
                  <td>Full version history</td>
                  <td><span class="compare-x">×</span></td>
                  <td><span class="compare-y">✓</span></td>
                  <td><span class="compare-y">✓</span></td>
                </tr>
                <tr>
                  <td>Online Collaboration,<br>LaTeX support</td>
                  <td><span class="compare-y">✓</span></td>
                  <td><span class="compare-x">×</span></td>
                  <td><span class="compare-x">×</span></td>
                </tr>
                <tr>
                  <td>Sync across devices</td>
                  <td><span class="compare-y">✓</span></td>
                  <td>in backlog</td>
                  <td><span class="compare-y">✓</span></td>
                </tr>
                  <td>Free Trial</td>
                  <td>100 cards/month</td>
                  <td>30 days of usage</td>
                  <td>Unlimited during beta</td>
                </tr>
                <tr>
                  <td>Pay What You Want Pricing</td>
                  <td>$2 &rarr; $21<br>monthly subscription</td>
                  <td>$15 &rarr; $90<br>one-time payment</td>
                  <td>Free during beta</td>
                </tr>
                <tr>
                  <td>Ongoing Development</td>
                  <td><span class="compare-x">×</span></td>
                  <td><span class="compare-y">✓</span> (slow)</td>
                  <td><span class="compare-y">✓</span> (active)</td>
                </tr>
                <tfoot>
                  <td></td>
                  <td><a href="https://gingkoapp.com/signup" class="btn btn-table btn-l">Signup</a><br>or <a href="https://gingkoapp.com/login" style="color: #1c3969; text-decoration: underline;">login</a></td>
                  <td><a href="https://github.com/gingko/client/releases" class="btn btn-table btn-l">Download</a><br>&nbsp;</td>
                  <td><a href="https://app.gingkowriter.com/signup" class="btn btn-table btn-l">Signup</a><br>or <a href="https://app.gingkowriter.com/login">login</a></td>
                </tfoot>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>

{{ partial "footer.html" }}
