    {{ partial "header.html" .}}

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-7 my-auto">
            <div class="header-content mx-auto">
                <h1>Writing software that<br>gets you to <strong>first draft</strong>, fast.</h1>
              <h3 class="mb-7">Go from notes&rarr;outline&rarr;draft in the <strong>same simple view</strong>. Stop being overwhelmed, and start <strong>playing with your words</strong>.</h3>
              <a href="https://app.gingkowriter.com/signup" class="btn btn-outline btn-xl js-scroll-trigger">Get Started for Free</a>
            </div>
          </div>
          <div class="col-lg-5 my-auto">
            <div>
              <div class="device-mockup portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <a href="img/screenshot-alien-screenplay.png" data-toggle="lightbox" data-gallery="screenshots" data-title="Screenplay of 'Alien'.">
                      <img src="img/screenshot-alien-screenplay.png" class="img-fluid" alt="">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section class="testimonials text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <p class="font-weight-light">"<strong>My default place to write</strong>: dump ideas, move to structure, flesh em out, rearrange, edit, export."</p>
              <h5>Osbert Lancaster</h5>
              <h6 class="mb-3">Sustainability events facilitator,<br>Director of Natural Change.</h6>
              <img class="img-fluid rounded-circle" style="width:100px;" src="img/osbertlancaster.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <p class="font-weight-light" style="font-size: 150%">"Very cool web tool for structuring prose. <strong>Got me through the third act</strong> of the last novel..."</p>
              <h5>Michael Marshall Smith</h5>
              <h6 class="mb-3"><strong>New York Times best-selling author</strong></h6>
              <img class="img-fluid rounded-circle" src="img/michaelmarshallsmith.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <p class="font-weight-light">"It took away so much of my writing anxiety that it <strong>got me through from undergrad to a Ph.D.</strong> now."</p>
              <h5>Kristi K.</h5>
              <h6 class="mb-3">Ph.D. Candidate in Film Studies</h6>
              <img class="img-fluid rounded-circle" style="width: 100px;" src="img/kristik.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 mx-auto text-center">
            <br>
            <hr>
            <br>
            <a href="#more-testimonials">More testimonials ...</a>
          </div>
        </div>
      </div>
    </section>

    <section class="my-features bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="img/screenshot-focus.png" style="width: 100%"/>
          </div>
          <div class="col-md-6">
            <h3>Focused by Default</h3>
            <p>Whether it's a novel, a thesis, or a legal brief,<br>the only way to make progress is to:</p>
            <ul>
              <li>Break your work into <em>small chunks</em>.</li>
              <li>Focus on <em>one at a time</em>.</li>
            </ul>
            <p>With Gingko Writer this is automatic, because you are <em>always</em> writing in small chunks called "cards".</p>
            <p>This <strong>allows you to tackle larger projects without getting overwhelmed</strong>.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="my-features">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>Write the Big Picture <strong>and</strong> The Details</h3>
            <p>You may be writing the overall premise, and suddenly get an idea for a specific scene.</p>
            <p>Jumping around like this is a problem with traditional writing tools. But with Gingko Writer, the big picture, the details, and everything in between, <em>are always in easy reach</em>.</p>
            <p>This simple change makes a profound impact. Because now <strong>you can simply write exactly what you are thinking, as you're thinking it</strong>.</p>
          </div>
          <div class="col-md-6">
            <img src="img/big-picture-details.png" style="width: 100%"/>
          </div>
        </div>
      </div>
    </section>

    <section class="my-features bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <video style="width: 100%" autoplay="true" loop="true" muted="true">
              <source src="img/drag-image-out-small.webm" type="video/webm">
            </video>
          </div>
          <div class="col-md-6">
            <h3>Organize As You Write</h3>
            <p>There's no hard line between "writing" and "organizing" in Gingko Writer.</p>
            <p>And why should there be?</p>
            <p>When organizing, it's important to see <em>what</em> you're organizing.<br>
            And when writing, you need to see <em>where you are, and where you're going</em>.</p>
            <p>This freedom to write and organize at will means <strong>you can untangle your thoughts as you write them</strong>.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="my-features">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3>The Gift of &ldquo;Done&rdquo;</h3>
            <p>They say a writing project is never finished, only abandoned.<br>
              But there is one milestone that stands above the rest: the First Draft.</p>
            <p>Getting there is the point of Gingko Writer, and it's made easier by the unique way it allows you to work. But that doesn't mean your writing needs to <em>stay</em> inside Gingko Writer.</p>
            <p>Once you are happy with your draft, <strong>you can export in two clicks</strong> to a variety of traditional formats.</p>
          </div>
          <div class="col-md-6">
            <video style="width: 100%" autoplay="true" loop="true" muted="true">
              <source src="img/export-small.webm" type="video/webm">
            </video>
          </div>
        </div>
      </div>
    </section>



    <section class="comparison text-center bg-light" id="comparison">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h1>Try it now</h1>
            <hr>
            <a href="https://app.gingkowriter.com/signup" class="btn btn-outline btn-xl js-scroll-trigger">Start Writing</a>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 mx-auto">
            <h2 id="more-testimonials" class="text-center">More Testimonials</h2>
            <script type="text/javascript" src="https://testimonial.to/js/iframeResizer.min.js"></script>
            <iframe id="testimonialto-gingko-writer-light" src="https://embed.testimonial.to/w/gingko-writer?theme=light&card=large" frameborder="0" scrolling="no" width="100%"></iframe>
            <script type="text/javascript">iFrameResize({log: false, checkOrigin: false}, "#testimonialto-gingko-writer-light");</script>
          </div>
        </div>
      </div>
    </section>

{{ partial "footer.html" }}
