    {{ partial "header.html" .}}

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-5 my-auto">
            <div class="header-content mx-auto">
              <h1>Writing,<br>without the overwhelm</h1>
              <h2 class="mb-5">Gingko lets you untangle your thoughts as you write them.</h2>
              <a href="https://app.gingkowriter.com/signup" class="btn btn-outline btn-xl js-scroll-trigger">Start Writing</a>
            </div>
          </div>
          <div class="col-lg-7 my-auto">
            <div>
              <div class="device-mockup portrait white">
                <div class="device">
                  <div class="screen">
                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                    <a href="img/screenshot-alien-screenplay.png" data-toggle="lightbox" data-gallery="screenshots" data-title="Screenplay of 'Alien'.">
                      <img src="img/screenshot-alien-screenplay.png" class="img-fluid" alt="">
                    </a>
                    <div data-toggle="lightbox" data-gallery="screenshots" data-remote="img/screenshot-template-academic.png" data-title="Academic paper template."></div>
                    <div data-toggle="lightbox" data-gallery="screenshots" data-remote="img/screenshot-press-release-drag-and-drop.png" data-title="Rearrange paragraphs, sections, and chapters easily."></div>
                    <div data-toggle="lightbox" data-gallery="screenshots" data-remote="img/screenshot-card-editing.png" data-title="Write with Markdown and keyboard shortcuts, so you don't need to break your flow by reaching for the mouse."></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <section>
      <div class="container">
        <div id="old-new-container">
          <div class="old-new-column">
            <div>
              <h3>The Starting Point</h3>
              <p><img src="img/web-notes.png"/></p>
              <p>Notes &amp; Ideas<br><small>On paper, digital, or in your head</small></p>
            </div>
          </div>
          <div id="vert-slider-1" class="splide old-new-column">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <h3>The Old Way</h3>
                  <p><img src="img/old-computer.png"/></p>
                  <p><strike>Glorified Typewriters</strike>Word Processors<br><small>Practically unchanged since the 80s</small></p>
                </li>
                <li class="splide__slide"><h3>The New Way</h3><p><img src="img/screenshot-alien-screenplay.png"/></p></li>
              </ul>
            </div>
          </div>
          <div id="vert-slider-2" class="splide old-new-column doubt">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide"><h3>Novel First Draft</h3>
                  <p>
                    <img src="img/lili-badger-first-draft.jpg"/>
                  </p>
                </li>
                <li class="splide__slide"><h3>Thesis First Draft</h3></li>
                <li class="splide__slide"><h3>Academic Paper First Draft</h3></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="testimonials text-center bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <p class="font-weight-light">"<strong>My default place to write</strong>: dump ideas, move to structure, flesh em out, rearrange, edit, export."</p>
              <h5>Osbert Lancaster</h5>
              <h6 class="mb-3">Sustainability events facilitator,<br>Director of Natural Change.</h6>
              <img class="img-fluid rounded-circle" style="width:100px;" src="img/osbertlancaster.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <p class="font-weight-light" style="font-size: 150%">"I can recommend gingko — very cool web tool for structuring prose. <strong>Got me through</strong> the third act of the last novel..."</p>
              <h5>Michael Marshall Smith</h5>
              <h6 class="mb-3"><strong>New York Times best-selling author</strong></h6>
              <img class="img-fluid rounded-circle" src="img/michaelmarshallsmith.jpg" alt="">
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <p class="font-weight-light">"It took away so much of my writing anxiety that it <strong>got me through from undergrad to a Ph.D.</strong> now."</p>
              <h5>Kristi K.</h5>
              <h6 class="mb-3">Ph.D. Candidate in Film Studies</h6>
              <img class="img-fluid rounded-circle" style="width: 100px;" src="img/kristik.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="comparison text-center" id="comparison">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <h3>Try it now</h3>
            <hr>
            <a href="https://app.gingkowriter.com/signup" class="btn btn-outline btn-xl js-scroll-trigger">Start Writing</a>
          </div>
        </div>
      </div>
    </section>

    <script>
      let sliderOneOptions = { direction: 'ttb', type: 'loop', autoplay: true, pagination: false, interval: 4000, height : '20rem'};
      let splideOne = new Splide( "#vert-slider-1", sliderOneOptions).mount();

      let sliderTwoOptions = { direction: 'ttb', type: 'loop', pagination : false, height : '20rem'};
      let splideTwo = new Splide( "#vert-slider-2", sliderTwoOptions).mount();
      let vs2 = document.getElementById('vert-slider-2');

      splideOne.on("moved", (newIdx, oldIdx) => {
        if(newIdx == 1) {
          vs2.classList.remove('doubt');
          vs2.classList.add('arrows-enabled');
          splideOne.options = { autoplay: false };
          splideTwo.options = { pagination: true };
        } else {
          vs2.classList.add('doubt');
          vs2.classList.remove('arrows-enabled');
          splideTwo.options = { pagination: false };
        }
      })
    </script>
{{ partial "footer.html" }}
