    <footer>
      <div class="container">
        <div class="static-footer">
        <div class="footer-groups">
          <ul class="footer-link-group">
            <li class="footer-header">Gingko Writer</li>
            <li><a href="https://app.gingkowriter.com/login">Login</a></li>
            <li><a href="https://docs.gingkowriter.com">FAQ</a></li>
          </ul>

          <ul class="footer-link-group">
            <li class="footer-header">Social</li>
            <li><a href="/about.html">About us</a></li>
            <li><a href="https://twitter.com/gingkoapp" target="_blank">Follow us on Twitter</a></li>
          </ul>

          <ul class="footer-link-group">
            <li class="footer-header">Spread the word</li>
            <li><a href="https://twitter.com/intent/tweet?url=https://gingkowriter.com&text=Gingko%20Writer%20-%20A%20new%20way%20to%20write.&via=gingkoapp">Tweet about us</a></li>
            <li><a href="https://alternativeto.net/software/gingko/about/" target="_blank">Like us on AlternativeTo</a></li>
          </ul>

          <ul class="footer-link-group">
            <li class="footer-header">Legal</li>
            <li><a href="/privacy.html">Terms of Service</a></li>
            <li><a href="/privacy.html">Privacy policy</a></li>
          </ul>
        </div>
        </div>
        <p>&copy; 2021 Gingko Inc</p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ "/js/jquery.min.js" | relURL }}"></script>
    <script src="{{ "/js/bootstrap.bundle.min.js" | relURL }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | relURL }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ "/js/new-age.min.js" | relURL }}"></script>

    <!-- ekko-lighbox -->
    <script src="{{ "/js/ekko-lightbox.min.js" | relURL }}"></script>
    <script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox();
    });
    </script>
  </body>
</html>
